.user{
    margin: 40px auto;
    background-color: rgba(94, 94, 94, 0.568);
    }
    .name{
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 25px;
    }
    .username{
        opacity: 50%;
        font-size: 18px;
        margin-left: 10px;
    }
    .user-img{
        width: 70px;
        height: 70px;
        border-radius: 100%;
        margin-right: 10px;
    }