body{
    background-color: rgb(66, 63, 63);
}
.header{
    min-height: 120px;
    background: black;
}
.menu{
    display: flex;
    flex-direction: row;

}

.menu>li{
    color: white;
    font-size: 20px;
    margin-left: 50px;
}

a{
    color:white;
}


